<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal PIAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bienvenido/a, {{ current_user.nombre }}</h1>
    
    <div class="menu-container">
        <button onclick="window.location.href='/calendar'">📅 Ir al Calendario</button>
        <button onclick="window.location.href='/ai-assistant'">🤖 Ir al Asistente de IA</button>
        {% if current_user.is_authenticated and current_user.puesto == "Administrador/a" %}
            <button onclick="window.location.href='/subir-pdf'">📂 Subir Documentos</button>
        {% endif %}
        <button onclick="window.location.href='/documentos_subidos_s3'">🗄️ Repositorio Documental</button>
        <button onclick="window.location.href='/logout'">🔒 Cerrar Sesión</button>
        <button onclick="window.location.href='/cambiar-password'">🔑 Cambiar contraseña</button>
    </div>

</body>
</html>
