<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Vacaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido/a  al Calendario de Vacaciones</h1>
        <form action="/login" method="post">
            <label>Usuario:</label>
            <input type="text" name="usuario" required>
            <button type="submit">Ingresar</button>
        </form>
    </div>  
</body>
</html>
